:root {
  --main-bg-color: #0a0d12;
  --primary-color: hsl(217, 27%, 10%);
}
.container {
  color: #ffffff;
  display: grid;
  font-family: 'Open Sans';
  font-size: 22px;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.2fr 0.3fr 1fr 0.2fr;
  grid-template-areas: 
    "nav nav nav"
    "main main main"
    "project project project"
    "content1 content2 content3"
    "footer footer footer"
    ;
  grid-gap: 0.5rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  font-family: 'Open Sans';
  font-size: 24px;
  text-decoration: none;
  color: white; transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: coral;
}

.name {
  padding: 75px 0px 0px 0px;
}
  
body {
  background-color: var(--main-bg-color);
}
nav {    
  border-radius: 10px;
  background: var(--primary-color);
  grid-area: nav;
}

main {
  border-radius: 10px;
  background: var(--primary-color);
  font-size: 48px;
  font-weight: bold;
  grid-area: main;
  text-align: center;
}

#content1 {
  grid-area: content1;  
  justify-content: center;
  align-items: center;
}

#content2 {
  grid-area: content2;  
}

#content3 {
  grid-area: content3;  
}

#name {
  padding: 75px 0px 0px 0px;
}
#project {
  border-radius: 10px;
  grid-area: project;  
  text-align: center;
}

#footer {
  border-radius: 10px;
  background-color: var(--primary-color);
  grid-area: footer;  
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "project"
      "content1"
      "content2"
      "content3"      
  }
}
.card {
 width: 30vw;
 height: 10em;
 background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
}

.card2 {
 width: 30vw;
 height: 10em;
 background-color: var(--primary-color);
 border-radius: 17px;
 transition: all .2s;
 display: table-cell;
 vertical-align: middle;
 text-align: center;
}

.card2 a {
  text-decoration: none;
  color: white;
}
.card2:hover {
 transform: scale(0.98);
 border-radius: 20px;

}


.card:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.project {
  font-size: 3em;
  color: white;
}