body {
    font-family: 'Montserrat', sans-serif;
    margin: none;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
fieldset:last-of-type {
    border-bottom: none;
  }
label {
    display: block;
    margin: 0.5rem 0;
}
input, textarea {
    background-color: #3d3d3d;
    color: rgb(255, 255, 255);
    margin: 5px 0;
    min-width: 2em;
    height: 25px;
    border: none;
    border-radius: 4px;
    resize: none;
}
textarea {
    width: 200px;
    height: 65px;
}
::placeholder {
    color: rgb(98, 98, 98);
}
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
input[type="submit"] {
    display: block;
    width: 30%;
}
