:root {
    --primary-bg: #1B2430;
    --primary-text: #D6D5A8;
    --secondary-text: #816797;
    background-color: var(--primary-bg);
    color: var(--primary-text);
}
a {
    color: #816797;
}
button {
   background-color: var(--primary-bg); 
   color: var(--primary-text);
}
.black {
    background-color: var(--primary-bg);
}
