:root {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    scroll-behavior: smooth;
    --font-mid: 24px;
  }
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: inherit;
  }
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.navbar {
    font-weight: bold;
    overflow: hidden;
    margin-top: 2rem;
    font-size: var(--font-mid);
}
.navbar a{
    text-decoration: none;
    color: inherit;
    margin-right: 2rem;
}
.navbar a:hover {
    color: coral;
}
.topnav .icon {
    display: none;
  }
.main {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-top: 25vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
@media (max-width: 800px) {
    .main {
      flex-direction: row;
      flex-wrap: wrap; 
    }
}
.main img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.main p {
    font-size: min(2.5em, 10vw);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}
.projects {
    font-size: var(--font-mid);
    overflow-x: hidden;
}
.projects section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}
.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}
.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: white;
    transform: translate(85%, 60%);
}
.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: black;
    transform: translate(-4%, 40%);
    z-index: -1;
}
.black {
    background-color: black;
    color: white;
}
.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1 {
    background-image: url(layered-waves.svg);
}
.layer2 {
    background-image: url(layered-waves2.svg);
}