:root {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }
.dark-mode {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.flex-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.navbar {
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
}
.main {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-top: 25vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
.main img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.main p {
    font-size: min(2.5em, 10vw);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}
.black {
    background-color: black;
    color: white;
}